https://faker.readthedocs.io/en/master/index.html

In [19]:
pip install faker

Requirement already satisfied: faker in c:\users\toshiba\anaconda3\envs\pythonproject\lib\site-packages (18.10.1)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\toshiba\anaconda3\envs\pythonproject\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\toshiba\anaconda3\envs\pythonproject\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
from faker import Faker
import pandas as pd

In [21]:
fake = Faker()
print(fake.date())

2003-01-25

In [22]:
Faker.seed(0)
for _ in range(5):
    fake.random_digit()

In [23]:
Faker.seed(0)
for _ in range(5):
    fake.random_digit_not_null()

In [24]:
Faker.seed(0)
>>> for _ in range(5):
...     fake.random_int(min=0, max=15)

In [25]:
Faker.seed(0)
>>> for _ in range(5):
...     fake.random_int(min=0, max=15, step=3)

In [26]:
Faker.seed(0)
>>> for _ in range(5):
...     fake.random_number(fix_len=False)

In [27]:
Faker.seed(0)
>>> for _ in range(5):
...     fake.random_number(digits=3)

In [28]:
Faker.seed(0)
>>> for _ in range(5):
...     fake.random_number(digits=3, fix_len=True)

In [29]:
Faker.seed(0)
>>> for _ in range(5):
...     fake.randomize_nb_elements(number=100)

In [30]:
Faker.seed(0)
>>> for _ in range(5):
...     fake.randomize_nb_elements(number=100, ge=True)

In [31]:
Faker.seed(0)
>>> for _ in range(5):
...     fake.date()

In [33]:
Faker.seed(0)
>>> for _ in range(5):
...     fake.first_name()

In [34]:
data = [fake.profile() for i in range(50)]
data = pd.DataFrame(data)
print(data.head())

                                job            company          ssn  \
0                   Ophthalmologist    Faulkner-Howard  224-65-2282
1   Producer, television/film/video      Carlson Group  325-74-3967
2            Advertising copywriter  Woodward and Sons  736-16-7852
3                 Film/video editor       Bell-Roberts  368-76-2169
4  Education officer, environmental      Alvarez Group  643-11-0358

                                           residence  \
0      489 Kyle Stream\nPort Gabriellafort, OH 13700
1           09471 Erika Curve\nNorth Megan, MH 92162
2            086 Mary Cliff\nNorth Deborah, MI 57657
3  610 Holly Estate Apt. 376\nJohnsonshire, MT 87296
4  42851 Joshua Brook Apt. 034\nStaceyshire, PW 0...

            current_location blood_group  \
0      (4.970136, 53.094228)         AB-
1    (55.1161875, 30.075464)         AB+
2  (-41.596282, -147.228089)          O-
3  (-77.4426735, -91.053928)          O-
4    (73.100442, 171.844720)          O-

                                             website       username  \
0         [https://green.com/, http://summers.info/]    sallywalker
1             [http://hill.com/, http://wilson.com/]        laura56
2                               [http://green.info/]  meganpeterson
3                    [https://www.rose-freeman.net/]      zwilliams
4  [https://thompson.com/, http://morgan-richards...     turnermary

                 name sex                                            address  \
0   Frederick Harrell   M    711 Golden Overpass\nWest Andreaville, OH 44115
1     Denise Thornton   F           30989 Anthony Roads\nNew Maria, DE 51777
2  Christina Saunders   F  207 Mccullough Well Suite 564\nNew Hannah, NH ...
3    Kathleen Collins   F      206 Stewart Forest\nLake Karenhaven, RI 13317
4      Timothy Parker   M       87755 Timothy Squares\nSimmonsport, MA 96806

                         mail   birthdate
0  tamaramorrison@hotmail.com  1946-08-01
1          woodtina@gmail.com  1989-11-03
2     rogersbrandon@yahoo.com  1925-10-13
3        davidbanks@yahoo.com  1945-07-16
4      samanthasims@yahoo.com  2017-02-22